<div ><button class="btn btn-outline-success btn-md">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
        </svg>
    </button>
    <button class="btn btn-outline-success btn-md">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
          </svg>
    </button>
</div>
<div><span class="cityprov">Seller: <span class="text-secondary" *ngIf="sellerInfo">{{ sellerInfo.firstName }} {{ sellerInfo.lastName }}</span></span></div>
<div><span class="cityprov">Email:</span><span class="text-secondary" *ngIf="sellerInfo"> {{ sellerInfo.email }}</span></div>
<div *ngIf="sellerInfo.phoneNumber"><span class="cityprov">Phone No.</span><span class="text-secondary" *ngIf="sellerInfo" > {{ sellerInfo.phoneNumber }}</span></div>
<button *ngIf="hide == true" class="btn btn-success btn-md" (click)="hide = false" style="margin-top: 8px;">Conact Seller</button>
<div class="col-md-10" style="margin: 0 auto; margin-top: 5px;" >
    <div *ngIf="hide == false" class="container">
        <form (ngSubmit)='submit()' [formGroup]="contactForm" *ngIf="this.contactForm" style="margin-top: 8px;">
            <div class="card border-success justify-content-center" style="background-color: #242429;">
                <div class="form-group row mb-2 justify-content-center">
                    <label class="col-sm-2 col-form-label" for="name">Name:</label>
                    <div class="col-md-5">
                        <input class="form-control left" name="name" placeholder="Name (required)" type="text" formControlName='name' style="margin-top: 7px; height: 27px;">
                    </div>
                </div>
                <div class="form-group row justify-content-center" style="margin-bottom: 0px;">
                    <label class="col-sm-2 col-form-label" for="email">Email:</label>
                    <div class="col-md-5">
                        <input class="form-control left" name="email" placeholder="Name (required)" type="text" formControlName='email' style="height: 27px;">
                    </div>
                </div>
                <div class="form-group row justify-content-center" style="margin-bottom: 0px;">
                    <label class="col-sm-2 col-form-label" for="message">Message:</label>
                </div>
                <div class="form-group row mb-2 justify-content-center">
                    <div class="col-md-7">
                        <textarea  class="form-control left" name="message" formControlName="message" placeholder="Your message here..."  rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row mb-2 justify-content-center">
                    <button class="btn btn-danger btn-md" (click)="hide = true" type="button">Cancel</button>
                    <span style="padding: 2px;"></span>
                    <button [disabled]="!contactForm.valid" class="btn btn-success btn-md" type="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="message" class="alert alert-success mt-3 mb-0" style="padding: 5px;">{{message}}</div>
</div>