<div class="col-md-13" style="margin-inline: 0 auto;" >
    <app-search (filtersEvent)="receiveFilters($event)" (clearFilters)='emptyFilters()'></app-search>
    <h1 class="text-success " style="text-align: center;">Featured Adverts</h1>
    <div class="row justify-content-center" style="margin: 0 auto">
        <div class="col-md-10"><app-featured [adverts]="arrAdverts" *ngIf="arrAdverts"></app-featured></div>
    </div>
    <div class="container col-md-8">
        <div class="card text-white border-success mb-3" style="background-color: #292d30;" *ngFor="let advert of arrAdverts">
            <div *ngIf="advert.status == 'LIVE'">
                <div class="card-header border-success"> <a class="effect text-success" [routerLink]="['/homepage', advert.id, 'details']">{{ advert.title }}</a> </div>
                <div class="row" >
                    <div class="col-sm-5" style="margin-left: 2%;">
                        <div><span class="cityprov">City:</span> {{ advert.city }}</div>
                        <div><span class="cityprov">Province:</span> {{ advert.province }}</div>
                    </div>
                    <div class="col-sm-5" style="text-align: left; "><h2><span class="text-success">R</span>{{ advert.price | currency:" ":"symbol":"1.2-2"}}</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>