<div class="card border-success text-success bg-dark mb-3" style="margin-top: 0%;">
    <form (ngSubmit)='submit()' [formGroup]="searchForm" *ngIf="this.searchForm">
        <div style="margin-block: 5px; margin-left: 10px;">
            <div class="row col-md-12" style="margin-bottom: 5px; margin-top: 10px;">
                <div class="col-sm-3" style="padding: 0px;">
                    <select class="form-control" formControlName='province' (change)="updateCities()">
                        <option selected value=""> select a Province (no filter)</option>
                        <option *ngFor="let province of provincesArr" value="{{ province }}"> {{ province }}</option>
                    </select>
                </div>
                <div class="col-sm-3" >
                    <select class="form-control" formControlName = 'city'>
                        <option  selected value=""> select a City (no filter)</option>
                        <option value="{{ city }}" *ngFor='let city of citiesArr'> {{ city }} </option>
                    </select>
                </div>
                <div class="col-sm-3" style="padding: 0px;">
                    <select class="form-control" formControlName='minPrice'>
                        <option selected value=""> Minimum Price (no filter)</option>
                        <option *ngFor="let value of prices" value="{{ value }}"> {{ value | currency:"R":"symbol":"1.2-2" }}</option>
                    </select>
                </div>
                <div class="col-sm-3" >
                    <select class="form-control" formControlName = 'maxPrice'>
                        <option  selected value=""> Maximum Price (no filter)</option>
                        <option *ngFor="let value of prices" value="{{ value }}"> {{ value | currency:"R":"symbol":"1.2-2" }}</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12" style="margin-bottom: 10px; margin-top: 10px;">
                <input class="col-md-5" type="text" placeholder="Search Keywords..." style="height: 34px;" formControlName='keywords'> 
                <button type="button" class="btn btn-outline-success" style="margin-left: 4px; margin-right: 15px; margin-top: -2px;" (click)="clear()">X</button>
                <button type="submit" class="btn btn-outline-success" style="margin-left: 4px; margin-right: 15px; margin-top: -2px;">Search</button>
                <span style="color: #dadada; margin-right: 15px;" >Order Adverts By: </span>
                <a class="effect" style="margin-right: 15px;" (click)="orderByToggle('lth')">
                    <span *ngIf="orderBy=='lth'" style="color: #33e041;">Prices Low to High</span><span *ngIf="orderBy!='lth'" style="color: #0a9716;">Prices Low to High</span>
                </a>
                <a class="effect" (click)="orderByToggle('htl')">
                    <span *ngIf="orderBy=='htl'" style="color: #33e041;">Prices High to Low</span><span *ngIf="orderBy!='htl'" style="color: #0a9716;">Prices High to Low</span>
                </a>
            </div>
        </div>
    </form>
</div>