<div class="col-md-7 " style="margin: 0 auto;">
    <div class="card border-success justify-content-center" style="background-color: #242429;">
        <div class="card-header border-success text-success" style="margin-top: 0%;">
            <h1 style="text-align: center;">{{ title }}</h1>
        </div>
        <form (ngSubmit)='listAd()' [formGroup]="newAdForm" *ngIf="this.newAdForm">
            <div class="card-body border-success" style="padding-block: 10px;">
                <div class='container' style="margin-top: 2%; padding: 0%;">
                    <div class="form-group row mb-2 justify-content-center">
                        <label class="col-sm-3 col-form-label" for="title">Advert Title </label>
                        <div class="col-md-7">
                            <input class="form-control left" name="title" placeholder="Title (required)" type="text" formControlName='title'>
                        </div>
                    </div>
                    <div class="form-group row mb-2 justify-content-center">
                        <label class="col-sm-3 col-form-label" for="province">Province </label>
                        <div class="col-sm-7" style="margin-left: -11%;">
                            <select class="form-control" formControlName='province' (change)="updateCities()">
                                <option disabled selected value> select a Province </option>
                                <option *ngFor="let province of provincesArr" value="{{ province }}"> {{ province }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2 justify-content-center">
                        <label class="col-sm-3 col-form-label" for="title">City </label>
                        <div class="col-sm-7" style="margin-left: -11%;">
                            <select class="form-control" formControlName = 'city'>
                                <option disabled selected value> select a City </option>
                                <option value="{{ city }}" *ngFor='let city of citiesArr'> {{ city }} </option>
                            </select>
                        </div>
                    </div>
                    <div  class="form-group row mb-2 justify-content-center">
                        <label class="col-sm-3 col-form-label" for="details">Ad Details </label>
                        <div class="col-md-7">
                        <textarea  class="form-control left" name="details" formControlName="details" placeholder="Provide an advert description (required)"  rows="5"></textarea>
                        </div>
                    </div>
                    <div  class="form-group row mb-2 justify-content-center">
                        <label class="col-sm-7 col-form-label" for="price">Ad Price </label>
                        <label class="col-form-label col-sm-1 text-success left" for="price" style="font-size: 35px; font-weight: bold; margin-top: -15px; text-align: right;" >R</label>
                        <div class="col-md-3">
                            <input class="form-control left" name="price" placeholder="0.00" type="number" formControlName='price'>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer border-success" style="padding-top: 2%; padding-bottom: 2%; margin-left: 0px;">
                <div class="form-group row  justify-content-center">
                    <button  class="btn btn-secondary btn-md" style="width: 100px;" (click)="back()"> Cancel </button>
                    <span style="padding: 5px;"> </span>
                    <button  [disabled]="!newAdForm.valid" class="btn btn-secondary btn-md" type="submit">Publish Advert</button>
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
        </form>
    </div>
</div>